VITE_AWS_REGION=us-east-1
VITE_AWS_ACCESS_KEY_ID=your_access_key
VITE_AWS_SECRET_ACCESS_KEY=your_secret_key
VITE_AWS_BUCKET_NAME=your_bucket_name
VITE_CLOUDFRONT_DOMAIN=https://your-distribution-id.cloudfront.net
